
.mainThePage {
	margin: auto;
	width: 90%;
}
.columnThePage {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 20px;
}
.cardThePage {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.containerThePage {
	padding: 0 16px;
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}
.teamMargin {
	margin: 7% auto 7% auto;
}
.videoBtn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: $mainRed;
	color: #fff;
	cursor: pointer;
	margin: 20px;
	border-radius: 5px;
	&:hover {
		background: #ddd;
		color: black;
	}
}
.rowThePage {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}
.titleThePage {
	color: grey;
}
.buttonThePage {
	border: none;
	border-radius: 5px;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: $mainRed;
	text-align: center;
	cursor: pointer;
	width: 100%;
	&:hover {
		background-color: #555;
	}
}
.containerAdvantage {
	padding-top: 5%;
	width: 60%;
	margin: auto; 
}
.columnAdvantage {
	float: left;
	width: 25%;
	padding: 0% 4%;
}
.rowAdvantage {
	margin: 0 -5px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.cardAdvantage {
	padding: 16% 16% 16% 16%;
	text-align: center;
	background-color: rgb(68, 68, 68);
	color: white;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 10px lightblue;
	&:hover {
		box-shadow: 0px 0px 10px 20px lightblue;
		transition: 0.4s;
	}
}
.fa-solid {
	font-size: 40px;
}


.quotesSlideshow-container {
	position: relative;
	padding-bottom: 10px;
	width: 100%;
}
.quotesSlides-container {
	position: relative;
	margin: auto;
	padding-top: 80px;
}

.quotesSlides {
	display: none;
	text-align: center;
	width: 100%;
}

.quotesDot-container {
	text-align: center;
	padding-bottom:60px;
}

.fa-angles-left {
	cursor: pointer;
	font-weight: bold;
	border-radius: 0 3px 3px 0;
	user-select: none;
	padding: 3px;
	margin-right: 2%;
	&:hover {
		background-color: rgb(26, 29, 44);
		color: white;
		border-radius: 15%;
	}
}

.fa-angles-right {
	cursor: pointer;
	font-weight: bold;
	border-radius: 0 3px 3px 0;
	user-select: none;
	padding: 3px;
	&:hover {
		background-color: rgb(26, 29, 44);
		color: white;
		border-radius: 15%;
	}
	margin-left: 2%;
}

.quotesDot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	display: inline-block;
	transition: background-color 0.6s ease;
	&:hover {
		background-color: #717171;
	}
}

.activeDot {
	background-color: #717171;
}
q {
	font-style: italic;
	font-size: 20px;
}
.quotesAuthor {
	color: $mainRed;
	font-size: 20px;
}

#myVideo {
	position: relative;
	width: 100%;
	height: 800px;
	object-fit: cover;
	margin: 0;
}
.myPadding {
	padding: 10px;
}
.content {
	position: absolute;
	top: 5%;
	left: 10%;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 40%;
	padding: 20px 10px 30px 20px;
}
.fa-play {
	position: absolute;
	top: 480px;
	right: 100px;
	width: 200px;
	font-size: 42px;
	padding: 10px;
	border: none;
	color: $mainRed;
	cursor: pointer;
	display: none;
}
.fa-pause {
	position: absolute;
	top: 480px;
	right: 100px;
	width: 200px;
	font-size: 42px;
	padding: 10px;
	border: none;
	color: $mainRed;
	cursor: pointer;
	display: none;
}
.faShow {
	display: block;
}
.timelineCalaneder {
	position: relative;
	max-width: 1200px;
	margin: 4% auto;
	&::after {
		content: '';
		position: absolute;
		width: 6px;
		background-color: $mainRed;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -3px;
	}
}
.containerCalaneder {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
	&::after {
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		right: -17px;
		border: 5px solid $mainRed;
		top: 15px;
		border-radius: 50%;
		z-index: 1;
	}
}
.leftCalaneder {
	left: 0;
	&::before {
		content: " ";
		height: 0;
		position: absolute;
		top: 22px;
		width: 0;
		z-index: 1;
		right: 30px;
		border: medium solid $lightGreene;
		border-width: 10px 0 10px 10px;
		border-color: transparent transparent transparent $lightGreene;
	}
}
.rightCalaneder {
	left: 50%;
	&::before {
		content: " ";
		height: 0;
		position: absolute;
		top: 22px;
		width: 0;
		z-index: 1;
		left: 30px;
		border: medium solid $lightGreene;
		border-width: 10px 10px 10px 0;
		border-color: transparent $lightGreene transparent transparent;
	}
	&::after {
		left: -16px;
	}
}
.contentCalaneder {
	padding: 20px 30px;
	background-color: $lightGreene;
	position: relative;
	border-radius: 6px;
}
@media screen and (max-width: 900px) {
	.columnThePage {
		width: 100%;
		display: block;
	}
	.columnAdvantage {
		width: 50%;
		display: block;
		margin-bottom: 7%;
	}
	.containerAdvantage {
		padding-top: 10%;
		width: 80%;
	}
	.quotesSlideshow-container {
		position: relative;
		width: 90%;
	}
	.quotesSlides-container {
		position: relative;
		width: 80%;
	}
	.content {
		position: absolute;
		top: 2%;
		left: 10%;
		background: rgba(0, 0, 0, 0.5);
		color: #f1f1f1;
		width: 80%;
		padding: 10px;
	}
	#myVideo {
		height: 550px;
	}
	.fa-play {
		top: 420px;
	}
	.fa-pause {
		top: 420px;
	}
}
@media screen and (max-width: 600px) {
	.timelineCalaneder {
		&::after {
			left: 31px;
		}
	}
	.containerCalaneder {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
		&::before {
			left: 60px;
			border: medium solid $lightGreene;
			border-width: 10px 10px 10px 0;
			border-color: transparent $lightGreene transparent transparent;
		}
	}
	.leftCalaneder {
		&::after {
			left: 15px;
		}
	}
	.rightCalaneder {
		&::after {
			left: 15px;
		}
		left: 0%;
	}
}




